.container {
    border: 5px solid #ffcc5c;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.home {
    margin-right: auto;
}

/*Learning about axis
 *Main axis: left to right
 *Cross axis: Top to bottom
 *We can flip direction using flex-direction
 */

 /*How to position items on main axis
  *We might want space between items
  *We can use justify-content*/


/*Adjusting specific items
 *Using margin*/